main img{
    width: 100%;
    height: 80%;
}

main h1{
    text-align: center;
      
}

body{
    margin: 0;
    padding: 0;
}

main p{
    text-align: justify;
padding: 5px;
margin: 20px;
font-size: larger;
}